@import "tailwindcss";

@theme inline {
  --color-primary: #2563eb; /* blue */
  --color-disabled: #9ca3af; /* gray */

  --color-background: #ffffff;
  --color-foreground: #171717;
}

/* base */
body {
  color-scheme: light;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-pretendard);
}
